//colors
$color-red: #ff1b2b;
$color-yellow: #ffdf00;
$color-blue: #0977b2;
$color-grey: #2d2d2d;

//fonts
$font-titles:'walkway_semiboldregular';
$font-text: 'walkway_boldregular';


//images
$image-widht: 100%;
$image-height: 100%;