
@font-face {
    font-family: 'walkway_boldregular';
    src: url('../fonts/walkway_bold-webfont.woff2') format('woff2'),
         url('../fonts/walkway_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'walkway_roundedregular';
    src: url('../fonts/walkway_rounded-webfont.woff2') format('woff2'),
         url('../fonts/walkway_rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'walkway_semiboldregular';
    src: url('../fonts/walkway_semibold-webfont.woff2') format('woff2'),
         url('../fonts/walkway_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

//menu

p{
    color: #2D2D2D;
}

#menuContainer{
    background-color: white;
    padding: 0;
    font-family: 'robotolight';
    font-size: 14px;
}

#menuContainer a{
    color: #2D2D2D;
}

#menuContainer a:hover{
    color:#4c5069;
}

.menu li{
	background-color: white;
}

.menu ul{
	background-color: white;
}

.menu-icon {
    color: #000000;
}

/*.menu a{
	color: $color-menu;
	font-size: 14px;
	font-family: 'neoubold';
}

.menu a:hover{
	color: #fcc219;
}*/

.top-bar-right{
    background-color: white;
    width: 100%;
    padding: 1.5%;
	/*margin-top: 3%;
	margin-bottom: 3%;*/
}

@media screen and (max-width: 750px){
    .top-bar-right{
        margin-top:0%;
        position: absolute;
    }
    .top-bar-right ul{
        display: inline-block;
    }
    .top-bar-right li{
        padding-top:2px;
    }
    .title-bar{
        background-color: white;
        width: 100%;
        padding-bottom: 4%;
        padding-top: 4%;
        padding-left: 4%;
    }
}

@media screen and (min-width: 750px){
    .title-bar{
        background-color: white;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media screen and (min-width:  750px){
    #menuText{
        margin-left: 2%;
        margin-top: 13px;
    }
}

#mobileLogo{
    margin-left: 30%;
    width: 150px;
}


#footerMobileLogo{
    width: 150px;
    padding-bottom: 20px;
}

#footerBox {
   margin-top: 30px; 
   margin-bottom: 20px; 
}

#socialMedia {
    margin-top: -12px;
}

#textBanner {
    background-color: #D4B596;
    font-family: 'robotomedium';
    font-size: 22px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.bannerBox {
    margin: 0;
    padding: 0;
}

#icons {
    margin-top: 30px;
}

.iconsBox{
    margin: 0;
    padding: 12px;
}

#icons img{ 
    width: 70%;
}

#icons p{
    font-size: 14px;
    font-family: 'robotolight';
}

#banner1 {
    margin-bottom: 20px;
}

#textBanner {
    margin-bottom: 20px;
}

#thermo {
    margin-bottom: 20px;
}


@media screen and (min-width: 750px){
    #icons img{ 
        width: 100%;
        margin-top: 50px;
    }
}